.review{
  padding: 50px 0 60px;
  background-color: black;

  &__row{
    display: flex;
    justify-content: space-between;
    margin-top: 95px;
  }



  &__description{
    @include text($roboto, normal, normal, 18px, 32px);
    text-align: center;
    color: #FFFFFF;
  }
  &__title{
    @include text($roboto, normal, normal, 14px, 21px);
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 17px;
  }

  &__subtitle{
    @include text($roboto, normal, normal, 16px, 24px);
    text-align: center;
    text-transform: capitalize;
    color: #8A8A8A;
    margin-top: 10px;

  }
}
